* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #23252C;
}

.header {
    display: flex;
    height: 50px;
}

.header > .button {
    display: flex;
    flex: 1;
    background-color: #1A1B21;
    color: white;
    font-size: 0.75rem;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #161619;
}

.home-page {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.home-page-items {
    font-size: 2vh;
}

@media only screen and (min-width: 700px) {
    .home-page-items {
        font-size: 5vh;
    }

    .home-page-logo > img {
        width: 25%;
    }

    .header > .button {
        font-size: 1.25rem;
    }
}

.home-page-items > a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.home-page-items > a:hover {
    box-shadow: inset 1000px 0 0 0 #54b3d6;
    color: white;
}

.home-page-logo {
    margin-top: 8vh;
}

.home-page-items > img {
    width: 30%;
}

/* Project 1 - Business Card */

.info-img-proj1 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}

.info-name-proj1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 1.5vw;
}

.info-position-proj1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
}

.info-email-proj1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
}

.app-proj1 {
    background: #1A1B21;
    border-radius: 10px 10px 10px 10px;
    width: 75%;
    margin: 20px auto;
}

.info-btns-proj1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-btns-proj1 > a > button {
    width: 100px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-right: 7px;
    font-size: 16px;
    padding: 8px 8px 8px 32px;
    background-position: 8px;
}

.info-btns-proj1 > a > button:hover {
    cursor: pointer;
}

.info-email-btn-proj1 {
    background: #FFFFFF url("https://img.icons8.com/material-rounded/344/new-post.png");
}

.info-linkedin-btn-proj1 {
    background: #5093E2 url("https://img.icons8.com/ios-filled/344/ffffff/linkedin.png");
    color: white;
}

.body-comp-proj1 {
    color: white;
    text-align: start;
    margin: 20px;
}

.footer-proj1 {
    width: 100%;
    height: 64px;
    background: #161619;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-proj1 > a > img {
    width: 45px;
    margin: 5px
}

@media only screen and (min-width: 700px) {
    .app-proj1 {
        width: 35%;
    }
}


/* Project 2 - Travel Journal */

.nav-proj2 {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    color: white;
}

.nav-proj2 > p {
    font-size: 4vh;
}

.navbar-logo-proj2 {
    height: 34px;
    margin-right: 7px;
}

.location-proj2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.location-proj2 > img {
    width: 35%;
    height: 15%;
    border-radius: 5px;
    margin-right: 19px;
}
.location-icon-proj2 {
    height: 1.5vw;
    width: 1.5vw;
    margin-right: 4px;
}

.location-country-proj2{
    font-size: 2vw;
    letter-spacing: 0.17em;
    font-weight: 400px;
    margin-right: 12px;
}

.map-link-proj2 {
    font-size: 1.5vw;
    text-decoration-line: underline;
    color: #918E9B;
    float: right;
}

.location-location-proj2 {
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 2vh;
    margin: 1.5vw 0 0 0;
}

.location-dates-proj2 {
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 12px;
}

.location-description-proj2 {
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 150%;
    max-width: 50vw;
}

/* Project 3 - Meme Generator */

.header-proj3 {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header-image-proj3 {
    height: 150%;
    margin-right: 1rem;
}

.header-title-proj3 {
    font-size: 1.5rem;
    margin-right: auto;
}

.header-subtitle-proj3 {
    font-size: 1rem;
    font-weight: 500;
}

.form-proj3 {
    display: grid;
    grid-template: 40px 40px / 50% 50%;
    gap: 17px;
    margin-bottom: 17px;
    padding: 1.75rem;
}

.form-input-proj3 {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-button-proj3 {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme-proj3 {
    position: absolute;
    padding: 0em 1.75em 0em 1.75em;
    height: 50%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.meme-image-proj3 {
    max-width: 100%;
    border-radius: 3px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 100%;
}

.meme-text-proj3 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top-proj3 {
    top: 0;
}

.bottom-proj3 {
    bottom: 0;
}

/* Project 4 - Notes App */

.button-proj4:focus {
    outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
    font-size: 1.3em;
    font-weight: 100;
}

.pane-proj4 {
    overflow-y: auto;
}

.sidebar-proj4 {
    width: 20%;
    height: 100vh;
}

.sidebar--note {
  
}

.sidebar--header-proj4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
}

.sidebar--header-proj4 > h3 {
    font-size: 1.75rem;
    color: white;
}

.new-note-proj4 {
    cursor: pointer;
    background-color: #4A4E74;
    border: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 30px;
}

.first-note-proj4 {
    cursor: pointer;
    background-color: #4A4E74;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 1rem;
}

.editor-proj4 {
    width: 80%;
    height: 100vh;
}

.title-proj4 {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title--delete {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.title-proj4:hover .title--delete {
    display: block;
}

.note-summary:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

.text-snippet-proj4 {
    padding-inline: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #4A4E74;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-note-proj4 {
    background-color: #4A4E74;
}

.selected-note-proj4 .text-snippet-proj4 {
    color: white;
    font-weight: 700;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}

.split-proj4 {
    display: flex;
}

.no-notes-proj4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23252C;
}

.no-notes-proj4 > h1 {
    color: white;
}

.delete-btn-proj4 {
    display: none;
    background: none;
    border: none;
}

.title-proj4:hover > .delete-btn-proj4 {
    display: block;
}

.trash-icon-proj4 {
    cursor: pointer;
}

 .gg-trash-proj4 {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}

.gg-trash-proj4::after,
.gg-trash-proj4::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash-proj4::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash-proj4::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
} 

.react-mde {
    border: 1px solid black !important;
}

.mde-tabs .selected {
    border: 1px solid black !important;
}

.mde-header {
    background-color: #4A4E74 !important;
    border-bottom: 1px solid black !important;
}

.mde-text {
    background-color: #23252C;
    color: white;
}

.mde-preview {
    color: white;
}

/* Project 5 - Tenzies Game */

.main-proj5 {
    height: 90vh;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.title-proj5 {
    font-size: 5vh;
    margin: 0;
}

.instructions-proj5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    font-size: 3vh;
}

.dice-container-proj5 {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.roll-dice-proj5 {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice-proj5:focus {
    outline: none;
}

.roll-dice-proj5:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.count-time-score-proj5 {
    width: 100%;
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    font-size: 2.5vh;
}

.grid-item-proj5:nth-child(2n){
    text-align: right;
}

.buttons-proj5  {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

/* dice dots */

.face {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";
	flex: 0 0 auto;
	padding: 10px;
	width: 60px;
	height: 60px;
	border-radius: 10%;
    gap: 5px;
    cursor: pointer;
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
    width: 100%;
    height: 100%;
	border-radius: 50%;
	background-color: #333;
	box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
	grid-area: g;
}